/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.col, .row[class*=row-cols-] > *,
.row [class*=col-], .container-fluid, .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid, .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row[class*=row-cols-] > *,
.row [class*=col-] {
  flex: 0 0 auto;
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  width: 100%;
}

.row-cols-2 > * {
  width: 50%;
}

.row-cols-3 > * {
  width: 33.3333333333%;
}

.row-cols-4 > * {
  width: 25%;
}

.row-cols-5 > * {
  width: 20%;
}

.row-cols-6 > * {
  width: 16.6666666667%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-breakpoint-1 > * {
    width: 100%;
  }
  .row-cols-breakpoint-2 > * {
    width: 50%;
  }
  .row-cols-breakpoint-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-breakpoint-4 > * {
    width: 25%;
  }
  .row-cols-breakpoint-5 > * {
    width: 20%;
  }
  .row-cols-breakpoint-6 > * {
    width: 16.6666666667%;
  }
  .col-breakpoint-1 {
    width: 8.3333333333%;
  }
  .col-breakpoint-2 {
    width: 16.6666666667%;
  }
  .col-breakpoint-3 {
    width: 25%;
  }
  .col-breakpoint-4 {
    width: 33.3333333333%;
  }
  .col-breakpoint-5 {
    width: 41.6666666667%;
  }
  .col-breakpoint-6 {
    width: 50%;
  }
  .col-breakpoint-7 {
    width: 58.3333333333%;
  }
  .col-breakpoint-8 {
    width: 66.6666666667%;
  }
  .col-breakpoint-9 {
    width: 75%;
  }
  .col-breakpoint-10 {
    width: 83.3333333333%;
  }
  .col-breakpoint-11 {
    width: 91.6666666667%;
  }
  .col-breakpoint-12 {
    width: 100%;
  }
  .offset-breakpoint-0 {
    margin-left: 0%;
  }
  .offset-breakpoint-1 {
    margin-left: 8.3333333333%;
  }
  .offset-breakpoint-2 {
    margin-left: 16.6666666667%;
  }
  .offset-breakpoint-3 {
    margin-left: 25%;
  }
  .offset-breakpoint-4 {
    margin-left: 33.3333333333%;
  }
  .offset-breakpoint-5 {
    margin-left: 41.6666666667%;
  }
  .offset-breakpoint-6 {
    margin-left: 50%;
  }
  .offset-breakpoint-7 {
    margin-left: 58.3333333333%;
  }
  .offset-breakpoint-8 {
    margin-left: 66.6666666667%;
  }
  .offset-breakpoint-9 {
    margin-left: 75%;
  }
  .offset-breakpoint-10 {
    margin-left: 83.3333333333%;
  }
  .offset-breakpoint-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-breakpoint-1 > * {
    width: 100%;
  }
  .row-cols-breakpoint-2 > * {
    width: 50%;
  }
  .row-cols-breakpoint-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-breakpoint-4 > * {
    width: 25%;
  }
  .row-cols-breakpoint-5 > * {
    width: 20%;
  }
  .row-cols-breakpoint-6 > * {
    width: 16.6666666667%;
  }
  .col-breakpoint-1 {
    width: 8.3333333333%;
  }
  .col-breakpoint-2 {
    width: 16.6666666667%;
  }
  .col-breakpoint-3 {
    width: 25%;
  }
  .col-breakpoint-4 {
    width: 33.3333333333%;
  }
  .col-breakpoint-5 {
    width: 41.6666666667%;
  }
  .col-breakpoint-6 {
    width: 50%;
  }
  .col-breakpoint-7 {
    width: 58.3333333333%;
  }
  .col-breakpoint-8 {
    width: 66.6666666667%;
  }
  .col-breakpoint-9 {
    width: 75%;
  }
  .col-breakpoint-10 {
    width: 83.3333333333%;
  }
  .col-breakpoint-11 {
    width: 91.6666666667%;
  }
  .col-breakpoint-12 {
    width: 100%;
  }
  .offset-breakpoint-0 {
    margin-left: 0%;
  }
  .offset-breakpoint-1 {
    margin-left: 8.3333333333%;
  }
  .offset-breakpoint-2 {
    margin-left: 16.6666666667%;
  }
  .offset-breakpoint-3 {
    margin-left: 25%;
  }
  .offset-breakpoint-4 {
    margin-left: 33.3333333333%;
  }
  .offset-breakpoint-5 {
    margin-left: 41.6666666667%;
  }
  .offset-breakpoint-6 {
    margin-left: 50%;
  }
  .offset-breakpoint-7 {
    margin-left: 58.3333333333%;
  }
  .offset-breakpoint-8 {
    margin-left: 66.6666666667%;
  }
  .offset-breakpoint-9 {
    margin-left: 75%;
  }
  .offset-breakpoint-10 {
    margin-left: 83.3333333333%;
  }
  .offset-breakpoint-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-breakpoint-1 > * {
    width: 100%;
  }
  .row-cols-breakpoint-2 > * {
    width: 50%;
  }
  .row-cols-breakpoint-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-breakpoint-4 > * {
    width: 25%;
  }
  .row-cols-breakpoint-5 > * {
    width: 20%;
  }
  .row-cols-breakpoint-6 > * {
    width: 16.6666666667%;
  }
  .col-breakpoint-1 {
    width: 8.3333333333%;
  }
  .col-breakpoint-2 {
    width: 16.6666666667%;
  }
  .col-breakpoint-3 {
    width: 25%;
  }
  .col-breakpoint-4 {
    width: 33.3333333333%;
  }
  .col-breakpoint-5 {
    width: 41.6666666667%;
  }
  .col-breakpoint-6 {
    width: 50%;
  }
  .col-breakpoint-7 {
    width: 58.3333333333%;
  }
  .col-breakpoint-8 {
    width: 66.6666666667%;
  }
  .col-breakpoint-9 {
    width: 75%;
  }
  .col-breakpoint-10 {
    width: 83.3333333333%;
  }
  .col-breakpoint-11 {
    width: 91.6666666667%;
  }
  .col-breakpoint-12 {
    width: 100%;
  }
  .offset-breakpoint-0 {
    margin-left: 0%;
  }
  .offset-breakpoint-1 {
    margin-left: 8.3333333333%;
  }
  .offset-breakpoint-2 {
    margin-left: 16.6666666667%;
  }
  .offset-breakpoint-3 {
    margin-left: 25%;
  }
  .offset-breakpoint-4 {
    margin-left: 33.3333333333%;
  }
  .offset-breakpoint-5 {
    margin-left: 41.6666666667%;
  }
  .offset-breakpoint-6 {
    margin-left: 50%;
  }
  .offset-breakpoint-7 {
    margin-left: 58.3333333333%;
  }
  .offset-breakpoint-8 {
    margin-left: 66.6666666667%;
  }
  .offset-breakpoint-9 {
    margin-left: 75%;
  }
  .offset-breakpoint-10 {
    margin-left: 83.3333333333%;
  }
  .offset-breakpoint-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-breakpoint-1 > * {
    width: 100%;
  }
  .row-cols-breakpoint-2 > * {
    width: 50%;
  }
  .row-cols-breakpoint-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-breakpoint-4 > * {
    width: 25%;
  }
  .row-cols-breakpoint-5 > * {
    width: 20%;
  }
  .row-cols-breakpoint-6 > * {
    width: 16.6666666667%;
  }
  .col-breakpoint-1 {
    width: 8.3333333333%;
  }
  .col-breakpoint-2 {
    width: 16.6666666667%;
  }
  .col-breakpoint-3 {
    width: 25%;
  }
  .col-breakpoint-4 {
    width: 33.3333333333%;
  }
  .col-breakpoint-5 {
    width: 41.6666666667%;
  }
  .col-breakpoint-6 {
    width: 50%;
  }
  .col-breakpoint-7 {
    width: 58.3333333333%;
  }
  .col-breakpoint-8 {
    width: 66.6666666667%;
  }
  .col-breakpoint-9 {
    width: 75%;
  }
  .col-breakpoint-10 {
    width: 83.3333333333%;
  }
  .col-breakpoint-11 {
    width: 91.6666666667%;
  }
  .col-breakpoint-12 {
    width: 100%;
  }
  .offset-breakpoint-0 {
    margin-left: 0%;
  }
  .offset-breakpoint-1 {
    margin-left: 8.3333333333%;
  }
  .offset-breakpoint-2 {
    margin-left: 16.6666666667%;
  }
  .offset-breakpoint-3 {
    margin-left: 25%;
  }
  .offset-breakpoint-4 {
    margin-left: 33.3333333333%;
  }
  .offset-breakpoint-5 {
    margin-left: 41.6666666667%;
  }
  .offset-breakpoint-6 {
    margin-left: 50%;
  }
  .offset-breakpoint-7 {
    margin-left: 58.3333333333%;
  }
  .offset-breakpoint-8 {
    margin-left: 66.6666666667%;
  }
  .offset-breakpoint-9 {
    margin-left: 75%;
  }
  .offset-breakpoint-10 {
    margin-left: 83.3333333333%;
  }
  .offset-breakpoint-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
  .row-cols-breakpoint-1 > * {
    width: 100%;
  }
  .row-cols-breakpoint-2 > * {
    width: 50%;
  }
  .row-cols-breakpoint-3 > * {
    width: 33.3333333333%;
  }
  .row-cols-breakpoint-4 > * {
    width: 25%;
  }
  .row-cols-breakpoint-5 > * {
    width: 20%;
  }
  .row-cols-breakpoint-6 > * {
    width: 16.6666666667%;
  }
  .col-breakpoint-1 {
    width: 8.3333333333%;
  }
  .col-breakpoint-2 {
    width: 16.6666666667%;
  }
  .col-breakpoint-3 {
    width: 25%;
  }
  .col-breakpoint-4 {
    width: 33.3333333333%;
  }
  .col-breakpoint-5 {
    width: 41.6666666667%;
  }
  .col-breakpoint-6 {
    width: 50%;
  }
  .col-breakpoint-7 {
    width: 58.3333333333%;
  }
  .col-breakpoint-8 {
    width: 66.6666666667%;
  }
  .col-breakpoint-9 {
    width: 75%;
  }
  .col-breakpoint-10 {
    width: 83.3333333333%;
  }
  .col-breakpoint-11 {
    width: 91.6666666667%;
  }
  .col-breakpoint-12 {
    width: 100%;
  }
  .offset-breakpoint-0 {
    margin-left: 0%;
  }
  .offset-breakpoint-1 {
    margin-left: 8.3333333333%;
  }
  .offset-breakpoint-2 {
    margin-left: 16.6666666667%;
  }
  .offset-breakpoint-3 {
    margin-left: 25%;
  }
  .offset-breakpoint-4 {
    margin-left: 33.3333333333%;
  }
  .offset-breakpoint-5 {
    margin-left: 41.6666666667%;
  }
  .offset-breakpoint-6 {
    margin-left: 50%;
  }
  .offset-breakpoint-7 {
    margin-left: 58.3333333333%;
  }
  .offset-breakpoint-8 {
    margin-left: 66.6666666667%;
  }
  .offset-breakpoint-9 {
    margin-left: 75%;
  }
  .offset-breakpoint-10 {
    margin-left: 83.3333333333%;
  }
  .offset-breakpoint-11 {
    margin-left: 91.6666666667%;
  }
}

/*# sourceMappingURL=main.css.map */
